--
-- PostgreSQL database dump
--

\restrict 5SSh8cWmvVSB02Bg7aPt81V1bHbjSwQAKeQ2Bju0gTbD7RS8CH44x9NQYzVbSbK

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg13+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: branch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.branch (
    is_active boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    code character varying(20) NOT NULL,
    phone character varying(20),
    opening_hours character varying(100),
    name character varying(200) NOT NULL,
    address character varying(500),
    internal_url character varying(255)
);


--
-- Name: branch_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.branch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.branch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.category (
    is_active boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    parent_id bigint,
    updated_at timestamp(6) with time zone NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL
);


--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer (
    is_deleted boolean NOT NULL,
    version integer NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    id uuid NOT NULL,
    updated_by uuid,
    phone character varying(20),
    tax_code character varying(20),
    customer_code character varying(50) NOT NULL,
    customer_type character varying(50),
    email character varying(200),
    address text,
    name character varying(255) NOT NULL,
    CONSTRAINT customer_customer_type_check CHECK (((customer_type)::text = ANY ((ARRAY['RETAIL'::character varying, 'WHOLESALE'::character varying, 'CONSTRUCTION'::character varying])::text[])))
);


--
-- Name: customer_product_price; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_product_price (
    is_deleted boolean NOT NULL,
    unit_price numeric(19,4) NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    effective_from timestamp(6) without time zone NOT NULL,
    effective_to timestamp(6) without time zone,
    product_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    customer_id uuid NOT NULL,
    id uuid NOT NULL,
    updated_by uuid
);


--
-- Name: dim_date; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dim_date (
    date_key integer NOT NULL,
    day smallint NOT NULL,
    full_date date NOT NULL,
    month smallint NOT NULL,
    year smallint NOT NULL
);


--
-- Name: fact_sales; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fact_sales (
    date_key integer NOT NULL,
    gross_profit numeric(18,2) NOT NULL,
    quantity numeric(18,3) NOT NULL,
    revenue numeric(18,2) NOT NULL,
    unit_cost numeric(18,4) NOT NULL,
    unit_price numeric(18,2) NOT NULL,
    branch_id bigint NOT NULL,
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    customer_id uuid NOT NULL,
    invoice_id uuid NOT NULL
);


--
-- Name: fact_sales_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fact_sales ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fact_sales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fact_stock_movement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fact_stock_movement (
    date_key integer NOT NULL,
    quantity numeric(18,3) NOT NULL,
    branch_id bigint NOT NULL,
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    movement_type character varying(20) NOT NULL
);


--
-- Name: fact_stock_movement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.fact_stock_movement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fact_stock_movement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: goods_return; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goods_return (
    is_deleted boolean NOT NULL,
    total_amount numeric(38,2) NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    confirmed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    confirmed_by uuid,
    created_by uuid,
    customer_id uuid NOT NULL,
    id uuid NOT NULL,
    invoice_id uuid,
    updated_by uuid,
    note character varying(255),
    reason character varying(255),
    return_code character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT goods_return_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'CONFIRMED'::character varying])::text[])))
);


--
-- Name: goods_return_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goods_return_line (
    is_deleted boolean NOT NULL,
    quantity numeric(38,2) NOT NULL,
    unit_price numeric(38,2) NOT NULL,
    version integer NOT NULL,
    created_at timestamp(6) without time zone,
    product_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    id uuid NOT NULL,
    return_id uuid NOT NULL,
    updated_by uuid,
    unit_of_measure character varying(255) NOT NULL
);


--
-- Name: idempotency_record; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.idempotency_record (
    created_at timestamp(6) without time zone NOT NULL,
    id uuid NOT NULL,
    request_hash character varying(64),
    idempotency_key character varying(255) NOT NULL,
    response_snapshot text
);


--
-- Name: inbound_receipt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inbound_receipt (
    is_deleted boolean NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    confirmed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    confirmed_by uuid,
    created_by uuid,
    id uuid NOT NULL,
    supplier_id uuid,
    updated_by uuid,
    note character varying(255),
    receipt_code character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT inbound_receipt_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'CONFIRMED'::character varying])::text[])))
);


--
-- Name: inbound_receipt_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inbound_receipt_line (
    is_deleted boolean NOT NULL,
    quantity numeric(19,4) NOT NULL,
    unit_cost numeric(19,4) NOT NULL,
    version integer NOT NULL,
    created_at timestamp(6) without time zone,
    product_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    id uuid NOT NULL,
    receipt_id uuid NOT NULL,
    updated_by uuid,
    unit_of_measure character varying(50) NOT NULL
);


--
-- Name: inventory_alert_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_alert_config (
    is_active boolean,
    min_quantity_threshold numeric(38,2),
    branch_id bigint,
    created_at timestamp(6) with time zone,
    id bigint NOT NULL,
    product_id bigint,
    updated_at timestamp(6) with time zone,
    email_recipients character varying(255)
);


--
-- Name: inventory_alert_config_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.inventory_alert_config ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_alert_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_alert_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_alert_log (
    alerted_at timestamp(6) with time zone,
    branch_id bigint,
    id bigint NOT NULL,
    product_id bigint,
    resolved_at timestamp(6) with time zone,
    status character varying(255)
);


--
-- Name: inventory_alert_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.inventory_alert_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_alert_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.permission (
    id smallint NOT NULL,
    code character varying(100) NOT NULL,
    description character varying(255)
);


--
-- Name: permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: price_list; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.price_list (
    price numeric(19,4) NOT NULL,
    branch_id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    effective_date timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    product_id bigint NOT NULL
);


--
-- Name: price_list_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.price_list ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.price_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product (
    is_active boolean NOT NULL,
    category_id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    base_unit character varying(50) NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    attributes_cache jsonb
);


--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: receivable_debt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.receivable_debt (
    is_deleted boolean NOT NULL,
    total_debt numeric(19,4) NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    customer_id uuid NOT NULL,
    id uuid NOT NULL,
    updated_by uuid
);


--
-- Name: role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role (
    id smallint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL
);


--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: role_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role_permission (
    permission_id smallint NOT NULL,
    role_id smallint NOT NULL
);


--
-- Name: sales_invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sales_invoice (
    is_deleted boolean NOT NULL,
    previous_debt numeric(19,4) NOT NULL,
    remaining_debt numeric(19,4) NOT NULL,
    total_amount numeric(19,4) NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    confirmed_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    confirmed_by uuid,
    created_by uuid,
    customer_id uuid NOT NULL,
    id uuid NOT NULL,
    updated_by uuid,
    payment_method character varying(50),
    status character varying(50) NOT NULL,
    invoice_code character varying(100) NOT NULL,
    note text,
    CONSTRAINT sales_invoice_payment_method_check CHECK (((payment_method)::text = ANY ((ARRAY['CASH'::character varying, 'CREDIT'::character varying, 'MIXED'::character varying])::text[]))),
    CONSTRAINT sales_invoice_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'CONFIRMED'::character varying, 'CANCELLED'::character varying])::text[])))
);


--
-- Name: sales_invoice_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sales_invoice_line (
    is_deleted boolean NOT NULL,
    line_total numeric(19,4) NOT NULL,
    quantity numeric(19,4) NOT NULL,
    unit_cost numeric(19,4),
    unit_price numeric(19,4) NOT NULL,
    version integer NOT NULL,
    created_at timestamp(6) without time zone,
    product_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    updated_by uuid,
    unit_of_measure character varying(50) NOT NULL,
    product_name character varying(255)
);


--
-- Name: stock_on_hand; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_on_hand (
    avg_cost numeric(19,4),
    is_deleted boolean NOT NULL,
    quantity numeric(19,4) NOT NULL,
    version integer NOT NULL,
    branch_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    product_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    created_by uuid,
    id uuid NOT NULL,
    updated_by uuid
);


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.supplier (
    is_active boolean NOT NULL,
    branch_id bigint,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    id uuid NOT NULL,
    phone character varying(20),
    code character varying(50) NOT NULL,
    tax_code character varying(50),
    address character varying(500),
    email character varying(255),
    name character varying(255) NOT NULL
);


--
-- Name: user_account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_account (
    is_active boolean NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    id bigint NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    phone character varying(20),
    username character varying(100) NOT NULL,
    email character varying(200),
    full_name character varying(200) NOT NULL,
    password_hash character varying(255) NOT NULL
);


--
-- Name: user_account_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_branch_role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_branch_role (
    role_id smallint NOT NULL,
    branch_id bigint,
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: user_branch_role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_branch_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_branch_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: branch branch_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_code_key UNIQUE (code);


--
-- Name: branch branch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_pkey PRIMARY KEY (id);


--
-- Name: category category_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_code_key UNIQUE (code);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: customer customer_customer_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_customer_code_key UNIQUE (customer_code);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: customer_product_price customer_product_price_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_product_price
    ADD CONSTRAINT customer_product_price_pkey PRIMARY KEY (id);


--
-- Name: dim_date dim_date_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_date
    ADD CONSTRAINT dim_date_pkey PRIMARY KEY (date_key);


--
-- Name: fact_sales fact_sales_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_sales
    ADD CONSTRAINT fact_sales_pkey PRIMARY KEY (id);


--
-- Name: fact_stock_movement fact_stock_movement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_stock_movement
    ADD CONSTRAINT fact_stock_movement_pkey PRIMARY KEY (id);


--
-- Name: goods_return_line goods_return_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return_line
    ADD CONSTRAINT goods_return_line_pkey PRIMARY KEY (id);


--
-- Name: goods_return goods_return_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT goods_return_pkey PRIMARY KEY (id);


--
-- Name: goods_return goods_return_return_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT goods_return_return_code_key UNIQUE (return_code);


--
-- Name: idempotency_record idempotency_record_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_record
    ADD CONSTRAINT idempotency_record_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: idempotency_record idempotency_record_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_record
    ADD CONSTRAINT idempotency_record_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt_line inbound_receipt_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt_line
    ADD CONSTRAINT inbound_receipt_line_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt inbound_receipt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt
    ADD CONSTRAINT inbound_receipt_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt inbound_receipt_receipt_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt
    ADD CONSTRAINT inbound_receipt_receipt_code_key UNIQUE (receipt_code);


--
-- Name: inventory_alert_config inventory_alert_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_config
    ADD CONSTRAINT inventory_alert_config_pkey PRIMARY KEY (id);


--
-- Name: inventory_alert_log inventory_alert_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_log
    ADD CONSTRAINT inventory_alert_log_pkey PRIMARY KEY (id);


--
-- Name: permission permission_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_code_key UNIQUE (code);


--
-- Name: permission permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_pkey PRIMARY KEY (id);


--
-- Name: price_list price_list_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT price_list_pkey PRIMARY KEY (id);


--
-- Name: product product_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_code_key UNIQUE (code);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: receivable_debt receivable_debt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT receivable_debt_pkey PRIMARY KEY (id);


--
-- Name: role role_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_code_key UNIQUE (code);


--
-- Name: role_permission role_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_pkey PRIMARY KEY (permission_id, role_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: sales_invoice sales_invoice_invoice_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice
    ADD CONSTRAINT sales_invoice_invoice_code_key UNIQUE (invoice_code);


--
-- Name: sales_invoice_line sales_invoice_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice_line
    ADD CONSTRAINT sales_invoice_line_pkey PRIMARY KEY (id);


--
-- Name: sales_invoice sales_invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice
    ADD CONSTRAINT sales_invoice_pkey PRIMARY KEY (id);


--
-- Name: stock_on_hand stock_on_hand_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_on_hand
    ADD CONSTRAINT stock_on_hand_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_code_key UNIQUE (code);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: customer_product_price uk_cust_prod_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_product_price
    ADD CONSTRAINT uk_cust_prod_branch UNIQUE (customer_id, product_id, branch_id);


--
-- Name: receivable_debt uk_debt_customer_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT uk_debt_customer_branch UNIQUE (customer_id, branch_id);


--
-- Name: stock_on_hand uk_stock_product_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_on_hand
    ADD CONSTRAINT uk_stock_product_branch UNIQUE (product_id, branch_id);


--
-- Name: user_account user_account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_pkey PRIMARY KEY (id);


--
-- Name: user_account user_account_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_username_key UNIQUE (username);


--
-- Name: user_branch_role user_branch_role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT user_branch_role_pkey PRIMARY KEY (id);


--
-- Name: product fk1mtsbur82frn64de7balymq9s; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk1mtsbur82frn64de7balymq9s FOREIGN KEY (category_id) REFERENCES public.category(id);


--
-- Name: category fk2y94svpmqttx80mshyny85wqr; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT fk2y94svpmqttx80mshyny85wqr FOREIGN KEY (parent_id) REFERENCES public.category(id);


--
-- Name: goods_return_line fk704fdcemmdabxuc1dcw7hu832; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return_line
    ADD CONSTRAINT fk704fdcemmdabxuc1dcw7hu832 FOREIGN KEY (return_id) REFERENCES public.goods_return(id);


--
-- Name: sales_invoice_line fk7nemvn7hjylxyq3l9f1pyf5gs; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice_line
    ADD CONSTRAINT fk7nemvn7hjylxyq3l9f1pyf5gs FOREIGN KEY (invoice_id) REFERENCES public.sales_invoice(id);


--
-- Name: role_permission fka6jx8n8xkesmjmv6jqug6bg68; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT fka6jx8n8xkesmjmv6jqug6bg68 FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: price_list fkb1666881oiu3wnri177m27k72; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT fkb1666881oiu3wnri177m27k72 FOREIGN KEY (branch_id) REFERENCES public.branch(id);


--
-- Name: user_branch_role fkdcqxlwymqiiai43rfa5tn3a20; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT fkdcqxlwymqiiai43rfa5tn3a20 FOREIGN KEY (user_id) REFERENCES public.user_account(id);


--
-- Name: user_branch_role fkdpjkd8bignt5vjb01tdfycujc; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT fkdpjkd8bignt5vjb01tdfycujc FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: role_permission fkf8yllw1ecvwqy3ehyxawqa1qp; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT fkf8yllw1ecvwqy3ehyxawqa1qp FOREIGN KEY (permission_id) REFERENCES public.permission(id);


--
-- Name: price_list fkhrlnio6qq1rnoreu6tiyoxdwu; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT fkhrlnio6qq1rnoreu6tiyoxdwu FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: receivable_debt fkhrwncvyiy5a8gxyddafthsjnk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT fkhrwncvyiy5a8gxyddafthsjnk FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: goods_return fko522e7guq07j7jpg8lmbia9xn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT fko522e7guq07j7jpg8lmbia9xn FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: user_branch_role fkp4m1uf4rachb1w5sdo41joier; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT fkp4m1uf4rachb1w5sdo41joier FOREIGN KEY (branch_id) REFERENCES public.branch(id);


--
-- Name: inbound_receipt_line fkqy9cck42h6rk1tohjslwec6ym; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt_line
    ADD CONSTRAINT fkqy9cck42h6rk1tohjslwec6ym FOREIGN KEY (receipt_id) REFERENCES public.inbound_receipt(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5SSh8cWmvVSB02Bg7aPt81V1bHbjSwQAKeQ2Bju0gTbD7RS8CH44x9NQYzVbSbK

