--
-- PostgreSQL database dump
--

\restrict 1FP6aDOeosedHOrCCwcK7ttYNeNpxz41lNQXVbRgdO3yUwjXuPbQa1qeBJaREeq

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg13+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: branch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.branch (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(200) NOT NULL,
    address character varying(500),
    phone character varying(20),
    opening_hours character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    internal_url character varying(255)
);


--
-- Name: branch_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.branch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: branch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.branch_id_seq OWNED BY public.branch.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.category (
    id bigint NOT NULL,
    parent_id bigint,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer (
    id uuid NOT NULL,
    customer_code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(20),
    email character varying(200),
    address text,
    tax_code character varying(20),
    customer_type character varying(50) DEFAULT 'RETAIL'::character varying,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: customer_product_price; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_product_price (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    unit_price numeric(19,4) NOT NULL,
    effective_from timestamp without time zone NOT NULL,
    effective_to timestamp without time zone,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: dim_date; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dim_date (
    date_key integer NOT NULL,
    full_date date NOT NULL,
    year smallint NOT NULL,
    month smallint NOT NULL,
    day smallint NOT NULL
);


--
-- Name: fact_sales; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fact_sales (
    id bigint NOT NULL,
    invoice_id uuid NOT NULL,
    date_key integer NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    customer_id uuid NOT NULL,
    quantity numeric(18,3) NOT NULL,
    unit_price numeric(18,2) NOT NULL,
    unit_cost numeric(18,4) NOT NULL,
    revenue numeric(18,2) NOT NULL,
    gross_profit numeric(18,2) NOT NULL
);


--
-- Name: fact_sales_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.fact_sales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: fact_sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.fact_sales_id_seq OWNED BY public.fact_sales.id;


--
-- Name: fact_stock_movement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fact_stock_movement (
    id bigint NOT NULL,
    date_key integer NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    movement_type character varying(20) NOT NULL,
    quantity numeric(18,3) NOT NULL
);


--
-- Name: fact_stock_movement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.fact_stock_movement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: fact_stock_movement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.fact_stock_movement_id_seq OWNED BY public.fact_stock_movement.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


--
-- Name: goods_return; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goods_return (
    id uuid NOT NULL,
    branch_id bigint NOT NULL,
    customer_id uuid NOT NULL,
    return_code character varying(100) NOT NULL,
    invoice_id uuid,
    status character varying(50) DEFAULT 'DRAFT'::character varying NOT NULL,
    total_amount numeric(19,4) DEFAULT 0 NOT NULL,
    reason text,
    note text,
    confirmed_at timestamp without time zone,
    confirmed_by uuid,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: goods_return_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.goods_return_line (
    id uuid NOT NULL,
    return_id uuid NOT NULL,
    product_id bigint NOT NULL,
    quantity numeric(19,4) NOT NULL,
    unit_price numeric(19,4) NOT NULL,
    unit_of_measure character varying(50) NOT NULL,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: idempotency_record; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.idempotency_record (
    id uuid NOT NULL,
    idempotency_key character varying(255) NOT NULL,
    request_hash character varying(64),
    response_snapshot text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: inbound_receipt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inbound_receipt (
    id uuid NOT NULL,
    branch_id bigint NOT NULL,
    receipt_code character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'DRAFT'::character varying NOT NULL,
    note text,
    confirmed_at timestamp without time zone,
    confirmed_by uuid,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid,
    supplier_id uuid
);


--
-- Name: inbound_receipt_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inbound_receipt_line (
    id uuid NOT NULL,
    receipt_id uuid NOT NULL,
    product_id bigint NOT NULL,
    quantity numeric(19,4) NOT NULL,
    unit_cost numeric(19,4) NOT NULL,
    unit_of_measure character varying(50) NOT NULL,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: inventory_alert_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_alert_config (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    min_quantity_threshold numeric(18,3) NOT NULL,
    email_recipients character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: inventory_alert_config_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inventory_alert_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inventory_alert_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inventory_alert_config_id_seq OWNED BY public.inventory_alert_config.id;


--
-- Name: inventory_alert_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_alert_log (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    alerted_at timestamp with time zone DEFAULT now() NOT NULL,
    resolved_at timestamp with time zone,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL
);


--
-- Name: inventory_alert_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inventory_alert_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inventory_alert_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inventory_alert_log_id_seq OWNED BY public.inventory_alert_log.id;


--
-- Name: permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.permission (
    id smallint NOT NULL,
    code character varying(100) NOT NULL,
    description character varying(255)
);


--
-- Name: permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.permission_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.permission_id_seq OWNED BY public.permission.id;


--
-- Name: price_list; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.price_list (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    price numeric(19,4) NOT NULL,
    effective_date timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: price_list_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.price_list ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.price_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product (
    id bigint NOT NULL,
    category_id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    base_unit character varying(50) NOT NULL,
    attributes_cache jsonb,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: receivable_debt; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.receivable_debt (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    branch_id bigint NOT NULL,
    total_debt numeric(19,4) DEFAULT 0 NOT NULL,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role (
    id smallint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL
);


--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.role_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: role_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role_permission (
    role_id smallint NOT NULL,
    permission_id smallint NOT NULL
);


--
-- Name: sales_invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sales_invoice (
    id uuid NOT NULL,
    branch_id bigint NOT NULL,
    customer_id uuid NOT NULL,
    invoice_code character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'DRAFT'::character varying NOT NULL,
    total_amount numeric(19,4) DEFAULT 0 NOT NULL,
    previous_debt numeric(19,4) DEFAULT 0 NOT NULL,
    remaining_debt numeric(19,4) DEFAULT 0 NOT NULL,
    payment_method character varying(50),
    note text,
    confirmed_at timestamp without time zone,
    confirmed_by uuid,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: sales_invoice_line; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sales_invoice_line (
    id uuid NOT NULL,
    invoice_id uuid NOT NULL,
    product_id bigint NOT NULL,
    product_name character varying(255),
    quantity numeric(19,4) NOT NULL,
    unit_price numeric(19,4) NOT NULL,
    unit_cost numeric(19,4),
    line_total numeric(19,4) NOT NULL,
    unit_of_measure character varying(50) NOT NULL,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: stock_on_hand; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_on_hand (
    id uuid NOT NULL,
    product_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    quantity numeric(19,4) DEFAULT 0 NOT NULL,
    avg_cost numeric(19,4) DEFAULT 0,
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.supplier (
    id uuid NOT NULL,
    supplier_code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(20),
    email character varying(200),
    address text,
    tax_code character varying(20),
    version integer DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone,
    created_by uuid,
    updated_at timestamp without time zone,
    updated_by uuid
);


--
-- Name: user_account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_account (
    id bigint NOT NULL,
    username character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(200),
    phone character varying(20),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_account_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_account_id_seq OWNED BY public.user_account.id;


--
-- Name: user_branch_role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_branch_role (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    role_id smallint NOT NULL,
    branch_id bigint
);


--
-- Name: user_branch_role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_branch_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_branch_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_branch_role_id_seq OWNED BY public.user_branch_role.id;


--
-- Name: branch id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branch ALTER COLUMN id SET DEFAULT nextval('public.branch_id_seq'::regclass);


--
-- Name: fact_sales id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_sales ALTER COLUMN id SET DEFAULT nextval('public.fact_sales_id_seq'::regclass);


--
-- Name: fact_stock_movement id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_stock_movement ALTER COLUMN id SET DEFAULT nextval('public.fact_stock_movement_id_seq'::regclass);


--
-- Name: inventory_alert_config id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_config ALTER COLUMN id SET DEFAULT nextval('public.inventory_alert_config_id_seq'::regclass);


--
-- Name: inventory_alert_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_log ALTER COLUMN id SET DEFAULT nextval('public.inventory_alert_log_id_seq'::regclass);


--
-- Name: permission id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permission ALTER COLUMN id SET DEFAULT nextval('public.permission_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: user_account id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_account ALTER COLUMN id SET DEFAULT nextval('public.user_account_id_seq'::regclass);


--
-- Name: user_branch_role id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role ALTER COLUMN id SET DEFAULT nextval('public.user_branch_role_id_seq'::regclass);


--
-- Name: branch branch_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_code_key UNIQUE (code);


--
-- Name: branch branch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_pkey PRIMARY KEY (id);


--
-- Name: category category_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_code_key UNIQUE (code);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: customer customer_customer_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_customer_code_key UNIQUE (customer_code);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: customer_product_price customer_product_price_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_product_price
    ADD CONSTRAINT customer_product_price_pkey PRIMARY KEY (id);


--
-- Name: dim_date dim_date_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_date
    ADD CONSTRAINT dim_date_pkey PRIMARY KEY (date_key);


--
-- Name: fact_sales fact_sales_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_sales
    ADD CONSTRAINT fact_sales_pkey PRIMARY KEY (id);


--
-- Name: fact_stock_movement fact_stock_movement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_stock_movement
    ADD CONSTRAINT fact_stock_movement_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: goods_return_line goods_return_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return_line
    ADD CONSTRAINT goods_return_line_pkey PRIMARY KEY (id);


--
-- Name: goods_return goods_return_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT goods_return_pkey PRIMARY KEY (id);


--
-- Name: goods_return goods_return_return_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT goods_return_return_code_key UNIQUE (return_code);


--
-- Name: idempotency_record idempotency_record_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_record
    ADD CONSTRAINT idempotency_record_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: idempotency_record idempotency_record_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_record
    ADD CONSTRAINT idempotency_record_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt_line inbound_receipt_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt_line
    ADD CONSTRAINT inbound_receipt_line_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt inbound_receipt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt
    ADD CONSTRAINT inbound_receipt_pkey PRIMARY KEY (id);


--
-- Name: inbound_receipt inbound_receipt_receipt_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt
    ADD CONSTRAINT inbound_receipt_receipt_code_key UNIQUE (receipt_code);


--
-- Name: inventory_alert_config inventory_alert_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_config
    ADD CONSTRAINT inventory_alert_config_pkey PRIMARY KEY (id);


--
-- Name: inventory_alert_log inventory_alert_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_log
    ADD CONSTRAINT inventory_alert_log_pkey PRIMARY KEY (id);


--
-- Name: permission permission_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_code_key UNIQUE (code);


--
-- Name: permission permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_pkey PRIMARY KEY (id);


--
-- Name: price_list price_list_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT price_list_pkey PRIMARY KEY (id);


--
-- Name: product product_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_code_key UNIQUE (code);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: receivable_debt receivable_debt_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT receivable_debt_pkey PRIMARY KEY (id);


--
-- Name: role role_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_code_key UNIQUE (code);


--
-- Name: role_permission role_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: sales_invoice sales_invoice_invoice_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice
    ADD CONSTRAINT sales_invoice_invoice_code_key UNIQUE (invoice_code);


--
-- Name: sales_invoice_line sales_invoice_line_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice_line
    ADD CONSTRAINT sales_invoice_line_pkey PRIMARY KEY (id);


--
-- Name: sales_invoice sales_invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice
    ADD CONSTRAINT sales_invoice_pkey PRIMARY KEY (id);


--
-- Name: stock_on_hand stock_on_hand_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_on_hand
    ADD CONSTRAINT stock_on_hand_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_supplier_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_supplier_code_key UNIQUE (supplier_code);


--
-- Name: customer_product_price uk_cust_prod_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_product_price
    ADD CONSTRAINT uk_cust_prod_branch UNIQUE (customer_id, product_id, branch_id);


--
-- Name: receivable_debt uk_debt_customer_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT uk_debt_customer_branch UNIQUE (customer_id, branch_id);


--
-- Name: stock_on_hand uk_stock_product_branch; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_on_hand
    ADD CONSTRAINT uk_stock_product_branch UNIQUE (product_id, branch_id);


--
-- Name: user_account user_account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_pkey PRIMARY KEY (id);


--
-- Name: user_account user_account_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_account
    ADD CONSTRAINT user_account_username_key UNIQUE (username);


--
-- Name: user_branch_role user_branch_role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT user_branch_role_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: ix_fact_sales_date_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fact_sales_date_branch ON public.fact_sales USING btree (date_key, branch_id);


--
-- Name: ix_fact_sales_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fact_sales_product ON public.fact_sales USING btree (product_id);


--
-- Name: ix_fact_stock_date_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fact_stock_date_branch ON public.fact_stock_movement USING btree (date_key, branch_id);


--
-- Name: ix_inventory_alert_log_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_inventory_alert_log_active ON public.inventory_alert_log USING btree (product_id, branch_id, status);


--
-- Name: ix_pricelist_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_pricelist_lookup ON public.price_list USING btree (product_id, branch_id, effective_date DESC);


--
-- Name: ix_product_attributes_cache; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_product_attributes_cache ON public.product USING gin (attributes_cache);


--
-- Name: ix_product_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_product_category ON public.product USING btree (category_id);


--
-- Name: ux_inventory_alert_product_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_inventory_alert_product_branch ON public.inventory_alert_config USING btree (product_id, branch_id);


--
-- Name: ux_user_branch_role; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ux_user_branch_role ON public.user_branch_role USING btree (user_id, role_id, COALESCE(branch_id, (0)::bigint));


--
-- Name: customer_product_price customer_product_price_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_product_price
    ADD CONSTRAINT customer_product_price_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: fact_sales fact_sales_date_key_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_sales
    ADD CONSTRAINT fact_sales_date_key_fkey FOREIGN KEY (date_key) REFERENCES public.dim_date(date_key);


--
-- Name: fact_stock_movement fact_stock_movement_date_key_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fact_stock_movement
    ADD CONSTRAINT fact_stock_movement_date_key_fkey FOREIGN KEY (date_key) REFERENCES public.dim_date(date_key);


--
-- Name: category fk_category_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT fk_category_parent FOREIGN KEY (parent_id) REFERENCES public.category(id);


--
-- Name: goods_return fk_gr_invoice; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT fk_gr_invoice FOREIGN KEY (invoice_id) REFERENCES public.sales_invoice(id);


--
-- Name: price_list fk_pricelist_branch; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT fk_pricelist_branch FOREIGN KEY (branch_id) REFERENCES public.branch(id);


--
-- Name: price_list fk_pricelist_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.price_list
    ADD CONSTRAINT fk_pricelist_product FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: product fk_product_category; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fk_product_category FOREIGN KEY (category_id) REFERENCES public.category(id);


--
-- Name: goods_return goods_return_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return
    ADD CONSTRAINT goods_return_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: goods_return_line goods_return_line_return_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.goods_return_line
    ADD CONSTRAINT goods_return_line_return_id_fkey FOREIGN KEY (return_id) REFERENCES public.goods_return(id);


--
-- Name: inbound_receipt_line inbound_receipt_line_receipt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt_line
    ADD CONSTRAINT inbound_receipt_line_receipt_id_fkey FOREIGN KEY (receipt_id) REFERENCES public.inbound_receipt(id);


--
-- Name: inbound_receipt inbound_receipt_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inbound_receipt
    ADD CONSTRAINT inbound_receipt_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.supplier(id);


--
-- Name: inventory_alert_config inventory_alert_config_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_config
    ADD CONSTRAINT inventory_alert_config_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branch(id);


--
-- Name: inventory_alert_config inventory_alert_config_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_config
    ADD CONSTRAINT inventory_alert_config_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: inventory_alert_log inventory_alert_log_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_log
    ADD CONSTRAINT inventory_alert_log_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branch(id);


--
-- Name: inventory_alert_log inventory_alert_log_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_alert_log
    ADD CONSTRAINT inventory_alert_log_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: receivable_debt receivable_debt_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receivable_debt
    ADD CONSTRAINT receivable_debt_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: role_permission role_permission_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permission(id) ON DELETE CASCADE;


--
-- Name: role_permission role_permission_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE CASCADE;


--
-- Name: sales_invoice sales_invoice_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice
    ADD CONSTRAINT sales_invoice_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: sales_invoice_line sales_invoice_line_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales_invoice_line
    ADD CONSTRAINT sales_invoice_line_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.sales_invoice(id);


--
-- Name: user_branch_role user_branch_role_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT user_branch_role_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branch(id) ON DELETE CASCADE;


--
-- Name: user_branch_role user_branch_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT user_branch_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE CASCADE;


--
-- Name: user_branch_role user_branch_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_branch_role
    ADD CONSTRAINT user_branch_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.user_account(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1FP6aDOeosedHOrCCwcK7ttYNeNpxz41lNQXVbRgdO3yUwjXuPbQa1qeBJaREeq

